html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.web-app {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  color: white;
  overflow-y: auto;
}

.nav-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.nav-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(49, 49, 49);
  color: white;
  text-decoration: None;
  font-size: medium;
  font-weight: bold;
  border-radius: 8px;
}

.nav-link-active {
  display: inline-block;
  padding: 10px 20px;
  background-color: rgb(76, 103, 118);
  color: white;
  text-decoration: None;
  font-size: 15px;
  font-weight: bold;
  border-radius: 8px;
}

.nav-link:hover {
  background-color: rgb(107, 107, 107);
}

.nav-link-active:hover {
  background-color: rgb(107, 107, 107);
}

.page-base {
  padding: 10px;
}

.page-base h1 {
  text-align: center;
}

.entry-point-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.entry-point {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid white;
  animation: typing 4s steps(40) 1s 1 normal both;
}

.dropdown-container {
  display: flex;
  justify-content: center;
  width: 100vw;
  gap: 20px;
}

.dropdown {
  display: inline-block;
  color: black;
  min-width: 300px;
  font-size: medium;
}

.text-field {
  color: black;
  font-size: medium;
  border-radius: 8px;
  width: 300px;
}

.fields-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  gap: 20px;
  font-size: inherit;
}

.args-container {
  display: flex;
  width: 100vw;
  justify-content: center;
  overflow-x: hidden;
  padding-top: 10px;
  gap: 10px;
}

.arg-input {
  color: black;
  display: inline-block;
  border-radius: 8px;
  width: 100px;
}

.arg-row {
  display: flex;
  justify-content: center;
}

.button-container {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.submit-button {
  padding: 10px;
  width: 150px;
  font-size: medium;
}

.parts-container {
  display: block;
}

.part-row {
  display: inline-block;
}

.save-button-container {
  display: block;
}